---
layout: default
title: Hi, I am a Full-Stack Software Developer
description: I am a leader, and critical thinker. My background as a business owner and six-sigma black belt has prepared me to bring continued success to your organization.
featured_image: /images/demo/home2.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Hi, I am a Full-Stack Software Developer</h1>
		<p>I am an aspiring leader, and critical thinker. My background as a business owner and six-sigma black belt has prepared me to bring continued success to your organization.</p>

		{% include socials.html %}

	</div>

</section>
<section class="single">

	<div class="wrap">

		<article class="single-post">
			{% include business-card.html %}

			{% include skills.html %}
			<!-- { page.content } -->
			<h2>Hobbies</h2>
			<h3>Weiqi / Go / Baduk</h3>
			<div style="font-size: 25px;">I am the two time back to back US and Canada Go 1 Kyu Champion also know as the strongest 1 Kyu. I'm a master of tournament play and have dominated the eastern tournament scene during 2018 to current day.
			<h3>Running and Swimming</h3>
			<div style="font-size: 25px;">Long time cross country runner and sprint swimmer. Cross country running was a great way to not only train myself physical but to training mentally to stay in the "suck". Swimming was often done during the winter season and therefore was a great way to train my breathing and use my legs in a different way.</div>
			<h2>Jobs</h2>
			<li style="font-size: 22px;">App Academy Graduate</li>
			<li style="font-size: 22px;">LG Data Analyst</li>
			<li style="font-size: 22px;">Owner CEO Fashion Paragon Traders</li>
			<li style="font-size: 22px;">Quidsi-Amazon Data Analyst</li>

			<h2>Recent Books Read</h2>
			<li style="font-size: 22px;">12 Rules for Life: An Antidote to Chaos</li>
			<li style="font-size: 22px;">Beyond Order: 12 More Rules for Life</li>

		</article>

		</div>
	</div>



</section>
<!--
<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section> -->
