<div class="business-card" style="display:flex; flex-wrap:wrap;"><!-- "display:grid; grid-template-columns: 50% 50%;" -->

    <div class="business-card--content1" style="display:flex; flex-direction:column; min-width:470px; flex-basis:45%;">
        <div style="margin-bottom:2%;" >
            <h3>"Hello there, my name is Stephen Choung, I am a full-stack software engineer and Go player."</h3>
        </div>
        <div style="margin-bottom:5%;" >
            <div style="font-size: 22px;"> I love data and taught myself how to code to further that passion. I spent two years learning Data Science, Robotic Process Automation and few more years getting my Six-Sigma Black Belt. I found that I really enjoy programming and wanted to pursue it more. I attended App Academy, an intense bootcamp with a less than 3% acceptance rate. There I learned full-stack web development using; JavaScript, Python, React/Redux, PostgreSQL and more! In my free time you can find me palying go at the Hungarian Pastry Shop in NYC.</div>
        </div>
        <div style="display:flex; flex-direction:row; justify-content:space-around;">
            <div style="display:flex; flex-direction:column; justify-content:center; align-items:center;" >
                <div>Email</div>
                <div>stephen.choung.coder@gmail.com</div>
            </div>
            <div style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
                <div>Resume</div>
                <a href="https://twprcntmlk.github.io/images/Resume-Stephen-Pdf.pdf" download="Resume-Stephen-Pdf.pdf">Download Here</a>
            </div>
        </div>
    </div>

    <div class="business-card--content2" style="display:flex; flex-direction:column; margin:0% 1% 1% 1%;  flex-basis:46%;">
        <div style="margin:0% 0% 0% 0%;">
            <img src="/images/me.jpg" style="margin:1%; height:420px; width:420px;">
            <div style="display:flex; justify-content:space-evenly;">
                <a href="https://github.com/Twprcntmlk"><h6>GitHub</h6></a>
                <a href="https://www.linkedin.com/in/stephen-choung-jino/"><h6>Linkedin</h6></a>
            </div>
        </div>

    </div>
</div>
<!-- style="border-top: 2px solid;"border-top: 2px solid" style="margin:1%;"-->
