<div class="business-card">
    <div class="business-card--content1">
        <div>
            <h5>"Both a technological and moral challenge, I hope to change the world by putting "good" information in the reach of people everywhere"</h5>
        </div>
        <div>

        </div>
        <div>
            <div>
                <div>Email</div>
                <div>stephen.choung.coder@gmail.com</div>
            </div>

            <div>
                <div>Resume</div>
                <a href="https://twprcntmlk.github.io/images/Resume-Stephen-Pdf.pdf" download="Resume-Stephen-Pdf.pdf">Download Here</a>
            </div>
        </div>
    </div>
    <div class="business-card--content2">
        <div>
            <img flex-item height="200px" width="200px"  src="/images/me.jpg">
            <div>
                <a href="https://github.com/Twprcntmlk">GitHub</a>
                <a href="https://www.linkedin.com/in/stephen-choung-jino/">Linkedin</a>
            </div>
        </div>

    </div>
</div>
