<div class="business-card" style="display:flex; flex-wrap:wrap; box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); justify-content:center;"><!-- "display:grid; grid-template-columns: 50% 50%;" -->

    <div class="business-card--content1" style="display:flex; flex-direction:column; margin:2% 2% 2% 2%; flex-basis:46%; align-items:center;">
        <div style="margin-bottom:2%;" >
            <h2>"Hello there, my name is Stephen Choung, I am a Full-Stack Software Engineer and Go player."</h2>
        </div>
        <div style="margin-bottom:5%;" >
            <div style="font-size: 20px;"> I love data and taught myself how to code to further that passion. I spent 2 years learning Data Science, Robotic Process Automation and my Six-Sigma Black Belt. I found that I really enjoy programming and wanted to make it my career. I attended App Academy, an intense bootcamp with a less than 3% acceptance rate. There I learned full-stack web development using; JavaScript, Python, React/Redux, PostgreSQL and more! In my free time you can find me playing go at the Hungarian Pastry Shop in NYC.</div>
        </div>
        <div style="display:flex; flex-direction:row; justify-content:space-around;">
            <div style="display:flex; flex-direction:column; align-items:center; justify-content:center;" >
                <div><b>Email</b></div>
                <div><b>stephen.choung.coder@gmail.com</b></div>
            </div>
            <div style="display:flex; flex-direction:column; align-items:center; justify-content:center;">
                <div><b>Resume</b></div>
                <a href="https://twprcntmlk.github.io/images/Resume-Stephen-Pdf.pdf" download="Resume-Stephen-Pdf.pdf"><b>Download Here</b></a>
            </div>
        </div>
    </div>

    <div class="business-card--content2" style="display:flex; flex-direction:column; margin:2% 0% 2% 2%; align-items:center;">
        <div style="margin:0% 0% 0% 0%;">
            <img src="/images/me.jpg" style= "height:410px; width:410px;" >
            <div style="display:flex; justify-content:space-evenly; background-color: #1f2c6c; width:410px; padding:3.5% 0% 3.5% 0%;">
                <a href="https://github.com/Twprcntmlk"><div style="color:#ffffff; font-size: 22px;">GitHub</div></a>
                <a href="https://www.linkedin.com/in/stephen-choung-jino/"><div style="color:#ffffff; font-size: 22px;">Linkedin</div></a>
            </div>
        </div>

    </div>
</div>
