

.business-card{
	display:flex;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	justify-content: center;
    flex-direction:row;
	// margin-top: 15px;
	// border-left: 2px solid $text-dark-color;
	// padding: 10px 0 10px 20px;
	// font-size: $blockquote-small;
	// font-weight: $blockquote-weight;
	// letter-spacing: $blockquote-spacing;
	// line-height: $blockquote-lineheight;

	// @include mq(tabletp) {
	// 	border-left-width: 3px;
	// 	padding: 15px 0 15px 30px;

	// }

	// @include mq(laptop) {
	// 	border-left-width: 4px;
	// 	padding: 20px 0px 20px 0px;

	// }
}

.business-card--content1{
	display:flex;
	flex-direction:column;
	margin:2% 2% 2% 2%;
    max-width:470px;
}

.business-card--content2{
	display:flex;
	flex-direction:column;
	margin:2% 2% 0% 2%;
    max-width:470px;
}

.business-card--image{
	height:20%;
	width:20%;

	@include mq(tabletp) {
		height:20%;
		width:20%;
	}

	@include mq(laptop) {
		height:50%;
		width: 50%;
	}
}

.business-card--div{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: #1f2c6c;
    width:50%;
    padding:3.5% 0% 3.5% 0%;
}
