---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

		</article>
		
		<div class="wrap">

			<p classname="skills" style="display:flex; justify-content:space-between; flex-wrap:wrap;">
				<a href="https://getbootstrap.com" target="_blank" style="display:flex; flex-direction:column; justify-content:center;" width="110" height="110">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="100" height="100"/>
					<h5>BootStrap</h5>
				</a>
				<a href="https://www.cockroachlabs.com/product/cockroachdb/" target="_blank" style="display:flex; flex-direction:column; justify-content:center;" width="150" height="150">
					<img src="https://cdn.worldvectorlogo.com/logos/cockroachdb.svg" alt="cockroachdb" width="100" height="100"/>
					<h5>CockroachDB</h5>
				</a>
				<a href="https://www.w3schools.com/css/" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="100" height="100"/>
					<h5>CSS</h5>
				</a>
				<a href="https://www.djangoproject.com/" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/django/django-original.svg" alt="django" width="100" height="100"/>
					<h5>Django</h5>
				</a>
				<a href="https://www.docker.com/" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker" width="100" height="100"/>
					h5>Docker</h5>
				</a>
				<a href="https://expressjs.com" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" width="100" height="100"/>
					<h5>Express</h5>
				</a>
				<a href="https://flask.palletsprojects.com/" target="_blank">
					<img src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask" width="100" height="100"/>
					<h5>Flask</h5>
				</a>
				<a href="https://git-scm.com/" target="_blank">
					<img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="100" height="100"/>
					<h5>GitHub</h5>
				</a>
				<a href="https://heroku.com" target="_blank">
					<img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="100" height="100"/>
					<h5>Heroku</h5>
				</a>
				<a href="https://www.w3.org/html/" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="100" height="100"/>
					<h5>HTML5</h5>
				</a>
				<a href="https://jekyllrb.com/" target="_blank">
					<img src="https://www.vectorlogo.zone/logos/jekyllrb/jekyllrb-icon.svg" alt="jekyll" width="100" height="100"/>
					<h5>Jekyll</h5>
				</a>
				<a href="https://www.linux.org/" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg" alt="linux" width="100" height="100"/>
					<h5>Linux</h5>
				</a>
				<a href="https://mochajs.org" target="_blank">
					<img src="https://www.vectorlogo.zone/logos/mochajs/mochajs-icon.svg" alt="mocha" width="100" height="100"/>
					<h5>Mocha</h5>
				</a>
				<a href="https://nodejs.org" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="100" height="100"/>
					<h5>Node</h5>
				</a>
				<a href="https://www.photoshop.com/en" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/photoshop/photoshop-line.svg" alt="photoshop" width="100" height="100"/>
					<h5>PhotoShop</h5>
				</a>
				<a href="https://www.postgresql.org" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="100" height="100"/>
					<h5>Postgresql</h5>
				</a>
				<a href="https://postman.com" target="_blank">
					<img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="100" height="100"/>
					<h5>Postman</h5>
				</a>
				<a href="https://www.python.org" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="100" height="100"/>
					<h5>Python</h5>
				</a>
				<a href="https://reactjs.org/" target="_blank">
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="100" height="100"/>
					<h5>React</h5>
				</a>
				<a href="https://www.selenium.dev" target="_blank" style="display:flex; flex-direction:column;">
					<img src="https://raw.githubusercontent.com/detain/svg-logos/780f25886640cef088af994181646db2f6b1a3f8/svg/selenium-logo.svg" alt="selenium" width="100" height="100"/>
					<h5>Selenium</h5>
				</a>
			</p>

		</div>
	</div>



</section>
